<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
    <head>
        <meta charset="utf-8">
        <link href="/static/style.css" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <title>Stockholms Stadsmission: DIGGINS Rapporteringsverktyg</title>
    </head>
    <body>

        <div id="menu">
            <a href="/"><img src="/static/SSM_logga_utan_bakgrund.svg" alt="Stockholms Stadsmissions logga" id="ssm-logga"></a>
            <h1><a href="/">DIGGINS</a></h1>
        </div>


        <form action="/meny" method="get" id="enhetsform">
            <section id="jumbo">
                <article>
                    <h2 class="title">Välj enhet:</h2>
                    <select id="selector" name="vald_enhet" form="enhetsform">
                        <option th:each="costCenter: ${costCenters}" th:value="${costCenter.id}" th:text="${costCenter.name}"></option>
                    </select>
                    <button><a href = "reg-handelse.html">OK</a></button> 
                </article>
            </section>
        </form>
    </body>
</html>