<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
    <head>
        <meta charset="utf-8">
        <link href="/static/style.css" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <title>Stockholms Stadsmission: DIGGINS Rapporteringsverktyg</title>
    </head>
    <body>

        <div id="menu">
            <a href="/"><img src="/static/SSM_logga_utan_bakgrund.svg" alt="Stockholms Stadsmissions logga" id="ssm-logga"></a>
            <h1><a href="/">DIGGINS</a></h1>
            <!--/*@thymesVar id="costCenterName" type="se.mau.webbserver.entity.cost_center.CostCenter"*/-->
            <span id="chosen" th:text="${costCenterName}"></span>
        </div>

         <section id="jumbo">
            <article>
                <button><a th:href="'/reg_hand/'+${costCenterId}">Registrera</a></button>
                <button><a th:href="'/foljaupp/'+${costCenterId}">Statistik</a></button>
                <div id="edit">
                    <h2>Redigera</h2><img src="/static/edit.png" alt="edit-icon" id="edit-icon">
                </div>
                <div id="buttonside2side">
                    <button><a href="#">Aktivitet</a></button>
                    <button><a href="#">Deltagare</a></button>
                </div>
            </article>
         </section>

    </body>
</html>
