<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <link href="/static/style.css" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="/static/ajax.js" defer></script>
        <title>Stockholms Stadsmission: DIGGINS Rapporteringsverktyg</title>
    </head>
    <body>
        <div id="menu">
            <a href="/"><img src="/static/SSM_logga_utan_bakgrund.svg" alt="Stockholms Stadsmissions logga" id="ssm-logga"></a>
            <h1>DIGGINS</h1>
            <!--/*@thymesVar id="costCenterName" type="se.mau.webbserver.entity.cost_center.CostCenter"*/-->
            <span id="chosen" th:text="${costCenterName}"></span>
            <section id="button1">Dagsrapporter</section>
            <section id="button2"><a th:href="'/foljaupp/'+${costCenterId}">Dagsrapporter</a></section>
        </div>
        <nav>
            <h2><a th:href="'/ankommande/'+${costCenterId}">Ankommande</a></h2>
            <h2><a th:href="'/reg-deltagare/'+${costCenterId}">Ny Deltagare</a></h2>
            <h2 class="active"><a th:href="'/reg-handelse/'+${costCenterId}">Aktivitet</a></h2>
        </nav>
        <section id="folder">
            <article>
                    <label for="enhet-name">Typ av Aktivitet*</label>
                        <select id="aktivitet" name="aktivitet" form="aktivitetform" th:ccId="${costCenterId}">
                            <option th:each="alias: ${aliases}" th:value="${alias.activity.internalId}" th:text="${alias.id.definition}"></option>
                        </select>
                    <label for="antal">Volym*</label>
                    <input type="number" id="antal" name="antal"
                           required min="1" max="50" placeholder=""
                           oninvalid="this.setCustomValidity('Ange Volym (1-50)')"
                           oninput="this.setCustomValidity('')"/>
                    <label for="namnge">Namnge deltagare</label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <label>
                        Datum*
                        <input type="date" id="occurrence_date" value="" required placeholder=""
                               oninvalid="this.setCustomValidity('Ange Datum')"
                               oninput="this.setCustomValidity('')"/>
                    </label>
                    <button onclick="postActivity()">Registrera händelse</button>
            </article>
        </section>
        <script>
            Date.prototype.yyyymmdd = function() {
            let mm = this.getMonth() + 1; // getMonth() is zero-based
            let dd = this.getDate();
            return [this.getFullYear(), (mm>9 ? '' : '0') + mm, (dd>9 ? '' : '0') + dd].join('-');};
            let now = new Date();
            document.getElementById("occurrence_date").value = now.yyyymmdd();
        </script>
    </body>
</html>
