<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Stockholms Stadsmission</title>
        <link href="/static/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="/script.js" defer></script>
        <script src="/static/ajax.js" defer></script>
    </head>
    <body>
        <div id="menu">
            <a href="/"><img src="/static/SSM_logga_utan_bakgrund.svg" alt="Stockholms Stadsmissions logga" id="ssm-logga"></a>
            <h1>DIGGINS</h1>
            <!--/*@thymesVar id="costCenterName" type="se.mau.webbserver.entity.cost_center.CostCenter"*/-->
            <span id="chosen" th:text="${costCenterName}"></span>
            <section id="button1"><a th:href="'/foljaupp/'+${costCenterId}">Dagsrapporter</a></section>
        </div>
        <nav>
            <h2><a th:href="'/ankommande/'+${costCenterId}">Ankommande</a></h2>
            <h2 class="active"><a th:href="'/reg-deltagare/'+${costCenterId}">Ny Deltagare</a></h2>
            <h2><a th:href="'/reg-handelse/'+${costCenterId}">Aktivitet</a></h2>
        </nav>
        <section id="folder1">
            <article>
                <form onsubmit="return false;">
                    <section id="info1">
                    <label for="UNO">UNO-kod *</label>
                    <input type="text" id="UNO" name="UNO"
                           required minlength="2" maxlength="8"/>
                    <label for="fname">Förnamn *</label>
                    <input type="text" id="fname" name="fname"
                           required minlength="2" maxlength="20"/>
                    <label for="lname">Efternamn *</label>
                    <input type="text" id="lname" name="lname"
                           required minlength="2" maxlength="30"/>
                </section>
                <section id="info3">
                    <label for="birthyear">Födelseår(barn)</label>
                    <input type="date" id="birthyear" name="birthyear">
                    <label for="language">Språk</label>
                    <input type="text" id="language" name="language">
                    <label for="land">Land</label>
                    <input type="text" id="land" name="land">
                <section id="register">
                    <button onclick="postNewParticipant()">Registrera deltagare</button>
                </section>
                </section>
                </form>
                <script>
                    var fname = document.getElementById("fname");
                    fname.addEventListener("input", () => {
                        if(fname.validity.tooLong || fname.validity.tooShort)
                            fname.setCustomValidity("Name must be 2-8 characters"
                            fname.reportValidity();
                        } else {
                            fname.setCustomValidity(""); }
                        });
                </script>
                <script>
                    Date.prototype.yyyymmdd = function() {
                    let mm = this.getMonth() + 1; // getMonth() is zero-based
                    let dd = this.getDate();
                    return [this.getFullYear(), (mm>9 ? '' : '0') + mm, (dd>9 ? '' : '0') + dd].join('-');};
                    let now = new Date();
                    document.getElementById("birthyear").value = now.yyyymmdd();
                </script>
            </article>
        </section>
    </body>
</html>
