* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.hero{
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,#6ac1c5, #bda5ff);
  position: relative;
}

#calendar {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ssm-logga{
    position: absolute;
    width: 269px;
    height: 269px;
    left: 51px;
    top: -24px;
}
    
h1 {
    position: absolute;
    height: 102px;
    left: 600px;
    top: 38px;
    
    font-family: 'Impact';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
} 
    
#jumbo {
    margin-top: 200px;
    height: 480px;
    padding-top: 70px;
    border-radius: 15px;
    background-image: url(Secondhand.jpeg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;  
    box-shadow: 0 0 10px #666;
    padding: 50px;
}
    
#jumbo > article {
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
button {
    background: #F38649;
    padding: 10px;
    border-radius: 20px;
    margin: 15px;
    border: none;
}
    
#folder {
    height: 480px;
    padding-top: 70px;
    border-radius: 15px;
    background-color: #8DC2CE;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 50px;
}
    
#folder > article {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    background-color: #BADFE8;
    border-radius: 20px;
    padding: 20px;
}
    
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #438D9D;
    border-radius: 20px;
    } 
    
nav a:hover, nav a:active {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #8DC2CE;
    border-radius: 20px;
    padding: 20px;
}

#edit-icon {
    width: 30px;
}
    
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 8px 0px;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
     
.mobile-only {
    display: none;
}
  
.container {
    width: 100%;
    height: 100vh;
    background-color: #12121f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.calendar {
    width: 45rem;
    height: 52rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}
  
.month {
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
  
.month i {
    font-size: 2.5rem;
    cursor: pointer;
}
  
.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}
  
.month p {
    font-size: 1.6rem;
}
  
.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}
  
.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
  
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}
  
.days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}
  
.days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}
  
.prev-date, .next-date {
    opacity: 0.5;
}
  
.today {
    background-color: #167e56;
}

@media screen and (max-width: 850px) {
    #wrapper > main > figure {
        width: 48%;
    }
}

@media screen and (max-width: 600px) {
    #wrapper > header > nav {
        flex-direction: column;
    }

    #menu {
        flex-direction: column;
        margin-left: 0px;
    }

    #wrapper > header > nav input {
        width: 96%;
        margin: 2%;
        padding: 10px;
    }

    #wrapper > header > nav input:focus {
        width: 96%;
    }

    .mobile-only {
        display: block;
    }

    #menu-btn {
        position: fixed;
        right: 0px;
        top: 0px;
    }

    #menu {
        height: 0px;
        overflow: hidden;
        transition: 0.5s all;
    }

    #menu-btn:focus + #menu, #menu:hover {
        height: 205.44px;
    }

    #wrapper > main > figure {
        width: 100%;
    }

    #wrapper > footer > article {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    #jumbo > article {
        width: 80%;
    }
}
